#musicCardContainer {
  background-color: #9b5a9d4a;
  backdrop-filter: blur(30px);
  min-height: 350px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
  /* min-width: 150px; */
}

#musicCardContent {
  display: flex;
  justify-content: center;
  background-color: rgba(210, 143, 55, 0.162);
  border: 4px solid rgba(0, 0, 0, 0.066);
  backdrop-filter: blur(30px);
  height: 285px;
  overflow-y: hidden;
  min-width: 150px;
  margin: 20px;
  opacity: 0.8;
}

#musicCardContent:hover {
  box-shadow: 2px 0px 5px 0px #28104e;
  opacity: 1;
}

#musicCardImage {
  /* margin-top: 3px; */
  max-width: 200px;
  max-height: auto;
}

#musicCardDetails {
  color: white;
  display: flex;
  justify-content: center;
  background-color: #442483c5;
  min-height: 150px;
}

/* #genresCardShow, */
#musicDetails,
#ArtistCardShow {
  color: white;
}
#musicCardShowTitile {
  margin-top: 7px;
  margin-bottom: 10px;
}

#musicDetails {
  margin: 0px 10px 0px 10px;
  position: relative;
  text-align: center;
}

#musicCardShowDetails {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  height: 40px;
}

/* #genresCardShow {
  margin-right: 5px;
} */

#musicCardDetails:hover {
  display: none;
  transition-duration: 2s;
}

#musicCardDetails:hover ~ #musicCardDetailsBtnsArea {
  display: flex;
  transition-duration: 2s;
}

#musicCardDetailsBtnsArea {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #773ca4;
  padding: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  min-height: 110px;
}

#musicCardPlayBtn,
#musicCardAddToPlayListBtn {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 50px;
  width: 150px;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 2px 2px 20px white;
}

/* #musicCardPlayBtn:hover,
#musicCardAddToPlayListBtn:hover {
  background-color: #28104e;
  color: white;
  cursor: pointer;
} */
